@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	color: rgba(248, 248, 248, 0.938);
	background-color: black;
}
.hidden {
	display: none;
}
.wb-body {
	background: #000000;
}

.dollar {
	color: lime;
}

.titles {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxes {
	display: flex;
	flex-direction: inherit;
	justify-content: center;
	font-size: small;
}
.boxes h3 {
	padding: 8px;
	font-size: 1.2rem;
}
.hyperlinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0.0deg);
	}
	10% {
		transform: rotate(14.0deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8.0deg);
	}
	30% {
		transform: rotate(14.0deg);
	}
	40% {
		transform: rotate(-4.0deg);
	}
	50% {
		transform: rotate(10.0deg);
	}
	60% {
		transform: rotate(0.0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0.0deg);
	}
}

#header {
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: rgba(248, 248, 248, 0.938);
	font-size: 1.5rem;
	padding: 0.2rem;
}

/* blinking cursor */
#cursor {
	background: orangered;
	line-height: 17px;
	height: 48px;
	margin-left: 3px;
	animation: blink 0.8s infinite;
	width: 6px;
}

.footer {
	position: fixed;
	left: 50;
	bottom: 0;
	width: 100%;

	color: lime;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1rem;
}
.footer h1 {
	font-size: 0.6rem;
	padding-left: 50px;
	padding-right: 50px;
	background: rgba(248, 248, 248, 0.938);
	color: #000000;
}

@keyframes blink {
	0% {
		background: #222;
	}
	50% {
		background: orangered;
	}
	100% {
		background: #222;
	}
}

.wb-body::-webkit-scrollbar {
	width: 12px;
}
.wb-body::-webkit-scrollbar-track {
	background: transparent;
}
.wb-body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #4a576b;
}
.wb-body::-webkit-scrollbar-thumb:window-inactive {
	background: #616161;
}
.wb-body::-webkit-scrollbar-corner {
	background: transparent;
}
.wb-body {
	font-size: 1.5rem;
}

.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffff;
	transition: 0.1s;
	transform: translate(-50%, -50%);
	pointer-events: none;
	mix-blend-mode: difference;
	transform: scale(2.5);
}

@media only screen and (max-width: 600px) {
	.titles h1 {
		font-size: 2rem;
	}
	#header h1 {
		font-size: 3rem;
		padding-left: 5px;
	}
	.hyperlinks h3 {
		font-size: 1.8rem;
	}
	a {
		font-size: 1.5rem;
	}
	.cursor {
		display: none;
	}
	.wb-body {
		font-size: 0.8rem;
	}
}
